<!DOCTYPE html>
<html>
<head>
  <title>LululemonInventory Admin Panel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid <%= controller.controller_name %> <%= controller.action_name %>">
<div class="row">

<%= yield %>
</div>
</body>
</html>
