<!DOCTYPE html>
<html>
	<head>
		<title>LululemonInventory Admin Panel</title>
		<%= stylesheet_link_tag    "application" %>
		<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/css/animsition.min.css" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/js/jquery.animsition.min.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body class=" <%= controller.controller_name %> <%= controller.action_name %>">
		<!-- Pushy Menu -->
		<% if user_signed_in? %>
		<nav class="pushy pushy-left">
			<span class="site-close"><i class="fa fa-times"></i></span>
			<ul>
				<li><%= link_to("Log Out", destroy_user_session_path, method: :delete ) %>
				</li>
				<li><a href="#">Item 2</a></li>
			</ul>
		</nav>
		<div class="site-overlay"></div>
		<% end %>
		<!-- Site Overlay -->
		<div class="animsition container-fluid" id="container">
			<% if user_signed_in? %>
			<div class="menu-btn">&#9776; Menu</div>
			<% end %>
			<div class="row">
				<% unless flash.blank? %>
				<% flash.each do |key, value| %>
				<div class="<%= flash_class(key) %> fade in">
					<a href="#" data-dismiss="alert" class="close">×</a>
					<h4 class="text-center"><%= value %></h4>
				</div>
				<% end %>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</body>
</html>